<nav class="navbar sticky-top navbar-expand-md navbar-toggleable-md navbar-blueberry">
  <div class="navbar-brand nav-brand-txt-color">
    <%= inline_svg 'loafgo_logo/bread.svg', size: '20% * 20%', class: 'd-inline-block align-top' %>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to client_dashboard_path, class: 'nav-item nav-link active client-navbar-link-icon-pos client-nav-link-color' do %>
        <%= inline_svg 'client_navbar_icons/arrow-outline-in-circular-btn.svg', width: 34, height: 34 %>
        <h6>Dashboard</h6>
      <% end %>
      <%= link_to orders_path, class: 'nav-item nav-link active client-navbar-link-icon-pos client-nav-link-color' do %>
        <%= inline_svg 'client_navbar_icons/outline-archive-circular-button.svg', width: 34, height: 34 %>
        <h6>My Orders</h6>
      <% end %>

      <%= link_to order_trackers_path, class: 'nav-item nav-link active client-navbar-link-icon-pos client-nav-link-color' do %>
        <%= inline_svg 'client_navbar_icons/compass-rounded-tool.svg', width: 34, height: 34 %>
        <h6>Order Tracker</h6>
      <% end %>
      <%= link_to order_feedbacks_path, class: 'nav-item nav-link client-navbar-link-icon-pos client-nav-link-color' do %>
        <%= inline_svg 'client_navbar_icons/favorites-star-white.svg', width: 34, height: 34 %>
        <h6>Order Feedback</h6>
      <% end %>
    </div>
  </div>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon 'cog' %> Settings
        </button>
        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenu2">
          <%= link_to 'Edit Account', edit_client_registration_path, class: 'dropdown-item' %>
          <%= link_to 'Sign Out', destroy_client_session_path, class: 'dropdown-item', method: :delete %>
        </div>
      </div>
    </li>
  </ul>
</nav>