<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="manage-orders-header">
        <h2>Manage Client Order Trackers</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Date</th>
      <th scope="col">Delivery Time</th>
      <th scope="col">Shipment Status</th>
      <th scope="col">Package Location</th>
      <th scope="col">Update Order Tracker</th>
    </tr>
    </thead>
    <tbody>
    <% @manager_order_trackers.each.with_index(1) do |o, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= o.order_tracker.order_date.strftime('%A, %b %d') %> </td>
        <td><%= o.order_tracker.time_delivered %> </td>
        <td><%= order_tracker_shipment_status(o) %></td>
        <td><%= o.order_tracker.order_location %></td>
        <td><%= link_to 'Update Client Order Tracker', edit_order_tracker_path(o) %></td>
    <% end %>
    </tr>
    </tbody>
  </table>
</div>





