<div class="container">
  <%= simple_form_for(@truck) do |f| %>
    <%= f.error_notification %>
    <div class="form-group">
      <div class="col-3">
        <label>Loaded Date (Click Box Below)</label>
        <div class="input-group date" id="truck_loaded_date" data-target-input="nearest">
          <%= f.input :loaded_date, class: 'form-control', placeholder: "Tap to view calendar <i class: 'fa fa-hand-o-up'></i>", data: {target: '#truck_loaded_date'}, label: false %>
          <div class="input-group-append" data-target="#truck_loaded_date" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

    </div>
    <div class="form-group">
      <div class="col-5">
        <%= f.input :delivery_total, class: 'form-control' %>
      </div>

    </div>
    <div class="form-group">
      <div class="col-5">
        <%= f.input :current_location_title, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-5">
        <%= f.input :truck_driver_name, class: 'form-control btn btn-outline-primary' %>
      </div>

    </div>
    <div class="form-group">
      <div class="col-5">
        <%= f.input :current_street_address, class: 'form-control' %>
      </div>

    </div>
    <div class="form-group">
      <div class="col-5">
        <%= f.input :current_city, class: 'form-control' %>
      </div>

    </div>
    <div class="form-group">
      <div class="col-5">
        <label>Current State</label>
        <%= options = {form: f, field_names: {:country => :current_country, :state => :current_state}, label: false, prompt: 'Choose your state'}
            f.input :current_state, CountryStateSelect.state_options(options) %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-5">

        <%= f.input :current_country, collection: CountryStateSelect.countries_collection, prompt: 'Choose your country' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-5">
        <%= f.hidden_field :delivery_id %>
      </div>

    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-outline-success' %>
    </div>
  <% end %>
</div>



<script>
    $(document).on('turbolinks:load', function () {

        $('#truck_loaded_date').datetimepicker();

        $('.form_datetime').datetimepicker({
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            format: 'mm-dd-yyyy hh:ii'
        });

        return CountryStateSelect({
            chosen_ui: true,
            country_id: "truck_current_country",
            state_id: "truck_current_state"
        });

    });
</script>