<%= simple_form_for(@my_order) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <label>Name</label>
    <%= f.input :client_name, required: true, label: false, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Zip Code</label>
    <%= f.input :client_zip_code, required: true, label: false, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Address</label>
    <%= f.input :client_address, required: true, label: false, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>State</label>
    <%= f.input :client_state, required: true, label: false, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Choose a Bread</label>
    <%= f.select :bread_name, options_for_select(@breads), :prompt => "Bread Selection", required: true, label: false, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Bread Quantity</label>
    <%= f.input :bread_quantity, collection: 10..2000, prompt: "What is the bulk quantity of your loaves of bread?", required: true, label: false, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
