<p id="notice"><%= notice %></p>
<h1>Order Information
  <small>order id: @my_order.id</small>
  | order upc: @my_order.upc
</h1>

<h4>Bread purchased</h4>
<div class="bread-purchase">
  <h6>Bread name:</h6>
  <p>@my_order.bread_name</p>
</div>
<div class="purchase-date">
  <h6>Order date:</h6>
  <p>@my_order.bread_name </p>
</div>
<div class="bread-quantity">
  <h6>Bread Quantity:</h6>
  <p>@my_order.bread_quantity </p>
</div>
<div class="billing-name">
  <h6>Name of buyer:</h6>
  <p>@my_order.client_name</p>
</div>
<div class="billing-zip-code">
  <h6>Shipment Zip Code:</h6>
  <p>@my_order.client_zip_code</p>
</div>
<div class="barcode-header">
  <h1>Barcode</h1>
</div>
<%= content_tag :p do %>
  <%= image_tag @my_order.img_url, class: 'img-responsive', width: 640, height: 480 %>
<% end if @my_order.img_url.present? %>
<%= link_to 'Edit', edit_my_order_path(@my_order) %> |
<%= link_to 'Back', my_orders_path %>
