<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="order-tracker-header">
        <h1><%= inline_svg 'order_tracker_assets/tracker.svg', height: 50, width: 50 %> Track My Orders</h1>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Date</th>
      <th scope="col">Delivery Time</th>
      <th scope="col">Shipment Status</th>
      <th scope="col">Package Location</th>
    </tr>
    </thead>
    <tbody>
    <% @order_trackers.each.with_index(1) do |o, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= o.order_tracker.order_date.strftime('%A, %b %d') %> </td>
        <td><%= o.order_tracker.time_delivered %> </td>
        <td><%= order_tracker_shipment_status(o) %></td>
        <td><%= o.order_tracker.order_location %></td>
    <% end %>
    </tr>
    </tbody>
  </table>
</div>

