<div class="client-dashboard-bg-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hello-client-pos">
          <h6 class="badge badge-info"><strong>Hello</strong>, <%= current_client.full_name %>! </h6>
        </div>
        <div class="client-dashboard-header">
          <h4>My Dashboard
            <small class="client-dashboard-sub-header">by Loafgo</small>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="client-info-panel">
          <div class="user-avatar-icon">
            <%= fa_icon 'user', class: 'fa-3x' %>
          </div>
          <div class="client-info-panel-name">
            <h4><%= current_client.full_name %></h4>
          </div>
          <div class="client-info-divider"></div>
          <div class="client-info-panel-company">
            <h5><%= fa_icon 'building' %> <%= current_client.company %></h5>
          </div>
          <div class="client-info-divider"></div>
          <div class="client-info-contact">
            <h5><%= fa_icon 'phone' %> <%= number_to_phone(current_client.telephone) %></h5>
          </div>
          <div class="client-info-divider"></div>
          <div class="client-info-state">
            <h5><%= fa_icon 'map' %>  <%= current_client.state %></h5>
          </div>
          <div class="client-info-divider"></div>
          <div class="client-info-zipcode">
            <h5><%= fa_icon 'list' %>  <%= current_client.zip_code %></h5>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="client-dashboard-latest-orders-header">
          <h4><%= fa_icon 'cart-arrow-down' %> Latest Orders</h4>
        </div>
        <% if @my_orders.present? %>
        <% @my_orders.each do |order| %>
          <div class="client-dashboard-latest-orders-container">
            <div class="<%= show_new_order_icon(order) %>">
              <div class="order-date">
                <p>Order Date: <%= order.created_at %></p>
              </div>
              <div class="order-address">
                <p>Order Address: <%= order.client_address %></p>
              </div>
              <div class="order-state">
                <p>Order State: <%= order.client_state %></p>
              </div>
              <div class="order-bread">
                <p>Bread Name: <%= order.bread_name %></p>
              </div>
              <div class="order-quantity">
                <p>Magnitude of order: <%= order.bread_quantity %></p>
              </div>
              <div class="my-order-tracker">
                <%= link_to 'Track Order', order_tracker_path(order.order_tracker.id), class: 'bttn-material-flat bttn-sm bttn-success' %> <%= link_to 'Add/Change Feedback', edit_order_feedback_path(order.order_feedback.id), class: 'bttn-material-flat bttn-sm bttn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="no-new-orders-dashboard">
            <h5>Would you like to place an
              order? <%= link_to 'Place Bread Order', new_order_path, class: 'btn btn-outline-dark' %></h5>
          </div>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="client-dashboard-order-feedback-container">
          <div class="client-dashboard-order-feedback-header">
            <h2>New Order Feedback</h2>
          </div>
          <div class="order-feedback-list">
            <% if @order_feedbacks.present? %>
              <% @order_feedbacks.each do |order| %>
                <%= order.order_feedback.title %>
                <%= order.order_feedback.order_opinion %>
              <% end %>
            <% else %>
              <div class="no-order-feedbacks-dashboard">
                <h4>You must first place an order to leave a feedback</h4>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

