<div class="delivery-index-bg-1">
  <div class="delivery-index-header">
    <h2 class="display-2">Deliveries <%= link_to 'Schedule New Delivery', new_delivery_path, class: 'btn btn-warning' %></h2>
  </div>
</div>
<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Client Name</th>
    <th>Client Address</th>
    <th>Client Phone</th>
    <th>Est Delivery</th>
    <th>View Delivery</th>
    <th>Created On</th>
    <th>On Time</th>
    <th>Client Join Date</th>
    <th>Edit</th>
    <th>Cancel Delivery</th>
  </tr>
  </thead>

  <tbody>
  <% @deliveries.each.with_index(1) do |delivery, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= delivery.delivery_order.order.client_name %></td>
      <td><%= delivery.delivery_order.order.client_address %></td>
      <td><%= number_to_phone(delivery.delivery_order.order.client.telephone) %></td>
      <td><%= delivery.delivery_date.strftime("%D %X") %></td>
      <td><%= link_to 'Go To Delivery', delivery %></td>
      <td><%= delivery.delivery_order.order.created_at.strftime("%D %X") %></td>
      <td><%= delivery_on_time_checker(delivery) %></td>
      <td><%= delivery.delivery_order.order.client.created_at.strftime("%D %X") %></td>
      <td><%= link_to 'Change', edit_delivery_path(delivery) %> </td>
      <td><%= link_to 'Remove Delivery', delivery, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

