<div class="order-finder-search-background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="order-finder-title">
          <h3>Order Finder
            <small class="order-finder-sub-header">locate customer records in a jippy</small>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="order-finder-search-box">
          <%= render 'order_finder/shared/form', locales: @orders %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if @orders.blank? %>
      <%= render 'order_finder/shared/no_results' %>
    <% else %>
      <div class="col-4">
        <% @orders.each do |order| %>
          <div class="order-box">
            <div class="media">
              <i class="fa fa-clipboard mr-3 fa-3x" style="color: #534450"></i>
              <div class="media-body order-box-header-txt-format">
                <h5 class="mt-0"><%= order.client_name %></h5>
                <p><strong>Order ID: </strong> <%= order.id %></p>
                <p><strong>Order Date: </strong> <%= order.created_at.strftime('%D') %></p>
                <p><strong>Address: </strong> <%= order.client_address %></p>
                <p><strong>Bread Name: </strong> <%= order.bread_name %> </p>
                <p><strong>Bread Quantity: </strong> <%= order.bread_quantity %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>