<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |my_order| %>
    <tr>
      <td><%= my_order.client_name %></td>
      <td><%= my_order.client_zip_code %></td>
      <td><%= my_order.client_address %></td>
      <td><%= my_order.bread_name %></td>
      <td><%= my_order.bread_quantity %></td>
      <td><%= link_to 'Show', my_order %></td>
      <td><%= link_to 'Edit', edit_my_order_path(my_order) %></td>
      <td><%= link_to 'Destroy', my_order, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
