<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="order-show-header">
        <h3>Order Details</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-11">
      <div class="jumbotron">
        <h1 class="display-4">Bread Name <strong style="color: #FFB4A2;"><%= @order.bread_name %></strong></h1>
        <p class="lead">Order Date: <strong><%= @order.created_at.strftime('%D %X') %></strong></p>
        <p class="lead">Quantity: <strong><%= @order.bread_quantity %></strong></p>
        <hr class="my-4">
        <p class="lead"><strong>Shipping Address</strong></p>
        <p class="lead" style="color: #534450"><%= @order.client_name %></p>
        <p class="lead"><%= @order.client_address %></p>
        <p class="lead"><%= @order.client_state %>, <%= @order.client_zip_code %></p>
        <%= link_to 'Want to edit your order?', edit_order_path(@order), class: 'btn btn-outline-info' %> <%= link_to 'Go Back To Orders Directory', orders_path, class: 'btn btn-outline-dark' %>
      </div>
    </div>
  </div>
</div>