<div class="container">
  <%= simple_form_for(@bread) do |f| %>
    <%= f.error_notification %>
    <%= f.input :bread_name %>
    <%= f.input :bread_type %>
    <%= f.input :upc %>
    <%= f.input :image_url %>
    <%= f.simple_fields_for :inventory do |i| %>
      <%= i.input :bread_stock_quantity, class: 'form-control' %>
      <%= i.input :bread_inventory_low, as: :boolean, boolean_style: :inline, input_html: {include_hidden: false}, class: 'form-control' %>
    <% end %>
    <div class="form-inputs">
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

