<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag 'loafgo_favicon/loafgo_favicon' %>
    <%= javascript_include_tag "modernizr" %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>LoafGo: 24 hour bread deliveries</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <% if client_signed_in? %>
    <%= render 'navbar/client_navbar' %>
  <% elsif manager_signed_in? %>
    <%= render 'navbar/manager_navbar' %>
  <% else %>
    <%= render 'navbar/default_navbar' %>
  <% end %>
  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", style: 'z-index: 999; margin-left: 40em; position: absolute;' %>
    <% end %>
  </div>
  <%= yield %>
  <script type="text/javascript">
      $(document).on('turbolinks:load', function () {
          $('.dropdown-toggle').dropdown()
      });
  </script>
  </body>
</html>
